<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
  <div class="container topnav">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand topnav" href="{% path_to home %}">{{ site.name }}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="{% if page.handle == 'home' %}active{% endif %}">
          <a href="{% path_to home %}">Home</a>

        </li>
        {% for page_in_nav in site.pages %}
          {% if page_in_nav.depth == 1 %}
            <li class="{% if page.fullpath == page_in_nav.fullpath %}active{% endif %}">
              {% link_to page_in_nav %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
